In [1]:
import pandas as pd

In [3]:
airports = pd.read_csv("./modifiedAirports.csv")

In [7]:
countries = pd.read_csv("./countries.csv")

  iso_country               country
0          AD               Andorra
1          AE  United Arab Emirates
2          AF           Afghanistan
3          AG   Antigua and Barbuda
4          AI              Anguilla

In [9]:
merged = pd.merge(airports, countries, on="iso_country" , how="inner")

In [12]:
merged.to_csv("./airports.csv")